<html> 
<body> 
    <h3>Income Prediction Form</h3> 
  
<div> 
  <form action="/dict_data" method="POST"> 
    <label for="category">Category</label> 
    <input type="text" id="Category" name="Category"> 
    <br>
    <label for="review">Reviews</label> 
    <input type="text" id="review" name="Reviews"> 
    <br>
    <label for="size">Size</label> 
    <input type="text" id="size" name="Size"> 
    <br>
    <label for="install">Installs</label> 
    <input type="text" id="install" name="Installs"> 
    <br>
    <label for="type">Type</label> 
    <input type="text" id="type" name="Type"> 
    <br>
    <label for="price">Price</label> 
    <input type="text" id="price" name="Price"> 
    <br>
    <label for="crat">Content Rating</label> 
    <input type="text" id="crat" name="Content Rating"> 
    <br>
    <label for="genre">Genres</label> 
    <input type="text" id="genre" name="Genres"> 
    <br>
    <input type="submit" value="Submit"> 
</form> 
<h1>{{ result }}</h1>
  <div> 
</body> 
</html> 